body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.blue-text {
    color: #00ccff;
}

.orange-text {
    color: #ff9900;
}

p, h2, h3 {
    font-weight: 500;
}

p strong, h2 strong, h3 strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #ff9900;
}

hr {
    border: 1px solid #00ccff;
}
