body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

#sidebar {
    background-color: #004d99;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow: auto;
}

#sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

#sidebar nav ul li a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

#sidebar nav ul li a:hover {
    background-color: #0066cc;
}

.content {
    margin-left: 250px; /* Taka sama wartość jak szerokość sidebar */
    padding: 20px;
}

.content section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #004d99;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
