body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

#sidebar {
    background-color: #004d99;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar nav ul li a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

#sidebar nav ul li a:hover, #sidebar nav ul li a.active {
    background-color: #0066cc;
}

.content {
    margin-left: 250px;
    padding: 20px;
    padding-bottom: 60px; /* Dodatkowe miejsce na stopkę */
}

.content section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #004d99;
    color: white;
    position: fixed;
    bottom: 0;
    left: 250px; /* Aby stopka zaczynała się tam, gdzie kończy sidebar */
    right: 0;
    z-index: 1000;
}
